<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.esense.esenselib">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- Set to false so apps that use this library can still be installed on phones without bluetooth LE-->
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="false" />

    <application />
</manifest>
